@model Student

<h1>Create Student</h1>

<form asp-action="Create" asp-controller="Student" method="post">
	<div class="form-group">
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>

	<div class="form-group">
		<label asp-for="Course"></label>
		<input asp-for="Course" class="form-control" />
		<span asp-validation-for="Course" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label asp-for="EnrollmentDate"></label>
		<input asp-for="EnrollmentDate" class="form-control" type="date" />
		<span asp-validation-for="EnrollmentDate" class="text-danger"></span>
	</div>

	<button type="submit" class="btn btn-primary mt-2">Create</button>	
</form>

<a class="btn btn-secondary mt-2" asp-action="Index" asp-controller="Student">Back to List</a>	